@import 'normalize.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
:root {
    // --font-family: "IBM Plex Sans", TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    --font-family: 'Arial', sans-serif;
    --font-family: 'Poppins', sans-serif;
    --hover-item: rgba(0, 0, 0, 0.05);
    --border-color: #bfbfbf;
    --header-height: 56px;
    --alway-white: #fff;
    --card-background: #fff;
    --alway-primary-text: #050505;
    --header-color: #ffffff;
    --body-color: #f0f2f5;
    --primary-color: #0866ff;
    --primary-text: #050505;
    --comment-backgroud: #f0f2f5;
    --secondary-icon: #65676b;
    --secondary-text: #65676b;
    --secondary-button: #e4e6eb;
    --icon-color: #080808;
    --survey-backgroud: #ffffff;
    --right-background-story: #f1f2f6;
    --shadow-2: rgba(0, 0, 0, 0.2);
    --divider-color: #ced0d4;
    --disable-button: #e4e6eb;
    --disable-button-text: #bcc0c4;
    --navbar-background-color: #ffffff;
    --filter-placeholder-icon: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%)
        contrast(94%);

    --always-dark-gradient: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    --web-wash: #f0f2f5;
    --box-shadow1: rgba(158, 158, 158, 0);
    --box-shadow2: rgba(0, 0, 0, 0.06);
    --invert: 0%;
    --twelve-px: 1.2rem;
    --thirteen-px: 1.3rem;
    --fourteen-px: 1.4rem;
    --sixteen-px: 1.6rem;
    --eighteen-px: 1.8rem;
    --twenty-px: 2rem;
    --twenty-one-px: 2.1rem;
    --twenty-four-px: 2.4rem;
    --bold-font-weight: 700;
    --main-font-weight: 600;
    --secon-font-weight: 500;
    --third-font-weight: 400;
}

[data-theme='dark'] {
    --invert: 100%;
    --right-background-story: #18191b;
    --border-color: #5b5c5e;
    --divider-color: #3e4042;
    --hover-item: #3a3b3d;
    --disable-button: rgba(255, 255, 255, 0.2);
    --disable-button-text: rgba(255, 255, 255, 0.3);
    --card-background: #242526;
    --header-color: #242526;
    --body-color: #18191a;
    --web-wash: #18191a;
    --survey-backgroud: #242527;
    --navbar-background-color: #242526;
    --always-dark-gradient: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    --filter-placeholder-icon: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%)
        contrast(94%);
    --primary-text: #e4e6eb;
    --secondary-text: #b0b3b8;
    --comment-backgroud: #3a3b3c;
    --secondary-icon: #65676b;
    --secondary-button: rgba(255, 255, 255, 0.1);
    --icon-color: #e4e6eb;
    --box-shadow1: rgba(97, 97, 97, 0);
    --box-shadow2: rgba(255, 255, 255, 0.06);
}

html {
    font-size: 62.5%;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/Proxima-Nova-Regular.woff2') format('woff2'),
         url('../../assets/fonts/Proxima-Nova-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
::-webkit-scrollbar {
    width: 8px;
    display: none;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: var(--divider-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--divider-color);
}
body {
    font-size: var(--sixteen-px);
    text-rendering: optimizeSpeed;
}
a {
    text-decoration: none;
}
