.primary_icon_background {
    border-radius: 50%;
    background-color: var(--secondary-button);
    width: 40px;
    height: 40px;
    position: relative;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       
    }
    svg path {
        fill: var(--icon-color);
    }
    &:hover {
        cursor: pointer;
    }
}
.active_popover {
    svg path {
        fill: var(--primary-color);
    }
}