.invite_item_container {
    background-color: var(--survey-backgroud);
    border-radius: 8px;
    overflow: hidden;
    height: max-content;
    .image_invite {
        img {
            width: 100%;
        }
    }
    .description_invite {
        padding: 15px;
        .name_invite {
            font-weight: var(--main-font-weight);
            font-size: var(--sixteen-px);
            color: var(--primary-text);
            white-space: nowrap; /* Ngăn chặn xuống dòng */
            overflow: hidden; /* Ẩn phần văn bản vượt quá thẻ cha */
            text-overflow: ellipsis; /* Hiển thị dấu ba chấm nếu văn bản bị cắt */
            max-width: 100%; /* Đảm bảo rằng văn bản không vượt quá kích thước thẻ cha */
        }

        .count_mutual_friend {
            font-weight: var(--secon-font-weight);
            font-size: var(--thirteen-px);
            color: var(--secondary-text);
        }
    }
    .button_action_invite {
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        button {
            margin-top: 5px;
        }
    }
}
