// src/assets/styles/_fonts.scss
@font-face {
    font-family: 'Segoe UI Historic';
    src: url('../fonts/SegoeUIHistoric.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  